body {
    background-color: rgb(46, 46, 46);
}

p{
    color: white;
}

.grass {
    background-color: rgb(5, 202, 5);
}
.fire {
    background-color: red;
}
.water {
    background-color: rgb(55, 163, 226);
}
.insect {
    background-color: rgb(201, 236, 75);
}
.flying {
    background-color: rgb(24, 241, 223);
}
.ghost {
    background-color: rgb(71, 59, 233);
}
.psychic {
    background-color: rgb(241, 125, 245);
}
.rock {
    background-color: rgb(83, 43, 24);
}
.dark {
    background-color: rgb(0, 0, 0);
}
.fairy {
    background-color: rgb(235, 161, 241);
}
.dragon {
    background-color: rgb(22, 101, 219);
}
.steel {
    background-color: rgb(153, 153, 153);
}